services:
  frontend:
    image: ghcr.io/afekexd/esporttournament/frontend:latest
    ports:
      - "5555:80"
    depends_on:
      - backend
    restart: always

  backend:
    image: ghcr.io/afekexd/esporttournament/backend:latest
    ports:
      - "6969:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
    depends_on:
      - db
    restart: always
    command: sh -c "npx prisma db push && npm start"
