# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database (PostgreSQL)
DATABASE_URL=postgresql://username:password@localhost:5432/esport_tournament

# Keycloak
KEYCLOAK_URL=https://keycloak.pollak.info
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=esport
